@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap');

/* General */
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: content-box;
  
}

a {
  text-decoration: none;
  color: white;
  
}

html {
  scroll-behavior: smooth;
  
}

:root {
 --main-color: rgb(24, 184, 104);
 --main-color-brighter: rgb(25, 209, 117);
 --primary-black: rgb(23, 23, 23);
 --secondary-black: rgb(31, 31, 31);
 --secondary-white: rgb(245, 245, 245);
  
}

/* Header */
header {
  transition: .5s ease-in-out;
  position: fixed;
  width: 100%;
  height: 95px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  background-color: var(--primary-black);
  color: white;
  
  box-sizing: border-box;
}

#header-title {
  display: flex;
  padding: 10px 10px;
  cursor: default;
  
}

#header-title span {
  padding: 12.7px 7px;
  color: var(--main-color-brighter)
  
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 17px 15px;
  font-size: 18px;
  
}

nav ul li a {
  transition: .5s ease-in-out;
  font-weight: 600;
  color: white;
  
}

nav ul li a:after {
  content: '';
  transition: transform .4s;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  height: 1px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  
}

nav ul li a:hover:after {
  transform: scaleX(1);
  
}

/* Home */
#home {
  background: url(https://source.unsplash.com/Z3ownETsdNQ);
  background-repeat: no-repeat;
  background-position: 85%;
  background-size: 550px 480px;
  width: 100%;
  min-height: 900px;
  border-top: 1px solid gray;
  
}

#home span {
  color: var(--main-color);
  
}

.home-content {
  width: 600px;
  height: 250px;
  margin: 300px 40px;
  font-size: 20px;
}

.home-content p {
  margin: 20px 0;
  
}

.home-content button {
  cursor: pointer;
  transition: .3s ease-in-out;
  padding: 12px 55px;
  border-radius: 20px;
  margin-left: 32%;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border: none;
  font-size: 14px;
  
}

.home-content button:hover {
  background-color: var(--main-color-brighter);
  
}

/* About us */
#aboutus {
  display: flex;
  min-height: 720px;
  padding: 0 300px;

}

.aboutus-content {
  width: 600px;
  height: 280px;
  margin-top: 185px;
  font-size: 20px;

}

.aboutus-content h2 {
  font-size: 36px;
  margin-bottom: 8px;

}

#aboutus img {
  width: 680px;
  height: 480px;
  margin-top: 100px;
  margin-right: 50px;

  z-index: 1;
}

.image::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 500px;
  right: 1000px;
  top: 880px;
  border-radius: 5px;
  background-color: var(--main-color);

  z-index: -1;
}

/* Information */
#information {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 600px;
  align-items: center;
  
}

#information h2 {
  margin-top: 24px;
  margin-bottom: 120px;
  font-size: 32px;
  
}

.information-content {
  display: flex;
  gap: 55px;
  
}

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 300px;
  padding: 12px;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 6px .1px;
  border-bottom: 5px solid var(--main-color);
  
}

.card div {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 50px;
  color: var(--main-color);
  
  box-sizing: border-box;
}

.card h3 {
  margin-bottom: 15px;
  
}

/* Contact */
#contact {
  display: flex;
  min-height: 300px;

}

.contact-content {
  width: 500px;
  height: 550px;
  margin-left: 50px;
  margin-top: 75px;
  font-size: 22px;

}

.contact-content h2 {
  font-size: 30px;
  margin-top: 42px;
  margin-bottom: 20px;

}

.contact-content p {
  margin-bottom: 25px;

}

.contact-content p:nth-child(4) {
  margin-bottom: 40px;

}

.contact-button {
  transition: .5s ease-in-out;
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 15px;

}

.contact-button:hover {
  background-color: var(--main-color-brighter)

}

/* Footer */
footer {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: var(--secondary-black);
  color: white;
  justify-content: space-between;
  align-items: center;
    
}

.footer-title {
  margin-left: 15px;

}

footer h2 {
  margin-bottom: 10px;
  
}

footer span a {
  transition: 0.3s ease-in-out;
  
}

footer span:nth-child(2):hover a {
  color: var(--main-color);
  
}

footer ul {
  margin-right: 50px;
  
}

footer ul li {
  display: inline;
  font-size: 18.5px;
  
}

footer ul li:nth-child(1) a, footer ul li:nth-child(2) a {
  margin-right: 16px;
  
}

footer ul li i {
  margin-right: 6px;
  color: var(--main-color)

}

footer ul li a {
  transition: .3s ease-in-out;
  color: white;
  
}

footer ul li a:hover {
  font-size: 20px;

}

/* Aditional content */
.linha-1 {
  margin: 10px 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(72deg, rgba(255,255,255,1) 0%, rgba(176,176,176,1) 100%);
  
}

.linha-2 {
  margin: 10px 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(72deg, rgba(144,144,144,1) 0%, rgba(255,255,255,1) 100%);;
  
}

.back-to-top {
  transition: .5s ease-in-out;
  position: fixed;
  cursor: pointer;
  right: -30px;
  bottom: -50px;
  background-color: var(--main-color);
  height: 45px;
  width: 45px;
  border-radius: 50px;
  border: 1px solid var(--main-color);
  visibility: hidden;

}

.back-to-top i {
  position: relative;
  left: 14.2px;
  top: 14px;

}

.show {
  visibility: visible;
  transition: .5s;
  display: block;
  right: 30px;
  bottom: 50px;

}

.shadow {
  transition: .5s ease-in-out;
  box-shadow: 0 0 15px .5px var(--main-color);

}

/* Screens */
@media screen and (min-width: 2500px) {
  .home-content {
    margin-left: 300px;
    margin-top: 200px;
    font-size: 30px;
    width: 750px;
    height: 420px;

  }

  .home-content button {
    margin-left: 36.2%;

  }

  #home {
    padding-top: 130px;
    background-size: 880px;
    background-position: 75%;

  }

  .image::before {
    top: 1100px;
    left: 480px;
    
  }

  #aboutus {
    padding-left: 570px;

  }

  .aboutus-content {
    font-size: 25px;
    width: 780px;

  }

  .card {
    width: 450px;
    height: 350px; 
    font-size: 20px;

  }

  #information {
    min-height: 700px;

  }
}

@media screen and (max-width: 1879px) {
  .home-content {
    margin-left: 250px;

  }
  
  .image::before {
    top: 994px;
    
  }

}

@media screen and (max-width: 1622px) {
  .home-content {
    margin-left: 180px;

  }

  .image::before {
    right: 950px;
    top: 984px;

  }

  #aboutus {
    padding: 0 150px;

  }

  .aboutus-content {
    font-size: 19px;

  }

}

@media screen and (max-width: 1496px) {
  .home-content {
    margin-left: 110px;

  }

  .image::before {
    right: 822px;

  }

}

@media screen and (max-width: 1376px) {
  .home-content {
    margin-left: 60px;

  }

  #aboutus {
    padding: 0 95px;

  }

  .image::before {
    right: 735px;

  }

}

@media screen and (max-width: 1309px) {
  .home-content {
    margin-left: 40px;

  }

  #aboutus {
    padding: 0 55px;

  }

  .image::before {
    right: 682px;

  }

}

@media screen and (max-width: 1181px) {
  #home {
    background-size: 510px;
    background-position: 97%;

  }

  .home-content {
    font-size: 16px;
    margin-left: 17px;
    margin-top: 350px;

  }

  #aboutus {
    padding: 0 30px;

  }

  .image::before {
    right: 568px;

  }

}

@media screen and (max-width: 1130px) {
  #home {
    background-size: 450px;

  }

  #aboutus {
    padding: 0 10px; 

  }

  #aboutus img {
    margin-left: 50px;
    width: 520px;
    height: 480px;

  }

  .image::before {
    width: 520px;
    height: 480px;
    right: 583px;

  }

  .card {
    width: 280px;
    height: 280px;
    padding: 12px;

  }

}

@media screen and (max-width: 1070px) {
  .home-content {
    width: 550px;
    font-size: 15px;
    margin-left: 20px; 

  }

  .image::before {
    right: 515px;

  }

}

@media screen and (max-width: 1034px) {
  .home-content {
    width: 500px;

  }

  .image::before {
    right: 483px;

  }

  .card {
    width: 260px;
    height: 260px;
    font-size: 14px;

  }

}

@media screen and (max-width: 980px) {
  .home-content {
    width: 460px;
    margin-left: 30px;

  }

  #aboutus {
    padding: 0;

  }

  .aboutus-content {
    font-size: 17px;
    margin-right: 10px;

  }

  #aboutus img {
    width: 480px;
    height: 440px;

  }

  .image::before {
    width: 470px;
    height: 420px; 

  }

  .card {
    width: 230px;
    height: 230px;
    font-size: 12px;

  }

}

/* Desenvolvido por Gabriel A. */
