@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g1hcuu');
  src:  url('fonts/icomoon.eot?g1hcuu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g1hcuu') format('truetype'),
    url('fonts/icomoon.woff?g1hcuu') format('woff'),
    url('fonts/icomoon.svg?g1hcuu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e903";
}
.icon-profile:before {
  content: "\e923";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
